.who{
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 60vh;
}
.whoText{
  color:#fff;
  font-size: 3rem;
}
.statNum{
  color:#fff;
  font-size: 3rem;
}
.statistics{
  color:#fff;
  padding-top: 10px;
  font-size: 1.5rem;
}
.whoColumnText{
  min-height: 70vh;
}
.who1{
  background-image: url('../Home/home5.jpg');
}
.who2{
  background-image: url('./counter.jpg');
}
.who3{
  background-image: url('../Home/home2.jpg');
}
