.who{
  background-position: center;
  background-size: cover;
  /*background-attachment: fixed;*/
  height: 60vh;
}
.who1 {
  /*background-image: url('./who1.jpg');*/
}
.who2{
  background-image: url('./counter.jpg');
  background-position: center;
  background-size: cover;
}

.centeredd {
  display: flex;
  align-items: center !important;
}

.who3{
  background-image: url('../Home/home2.jpg');
}
