.who{
  background-position: center;
  background-size: cover;
  /*background-attachment: fixed;*/
  min-height: 70vh;
}
.who1{
  background-image: url('./who1.jpg');
}
.who2{
  background-image: url('./counter.jpg');
  background-position: center;
  background-size: cover;
}

.who3{
  background-image: url('../Home/home2.jpg');
}
