.translationPlain .column{
  background-position: center;
  background-size: cover;
  min-height: 50vh;
}
.translation1{
  background-image: url('./trans2.jpg');
  background-position: center;
  background-size: cover;
  min-height: 60vh;
}
.translation2{
  background-image: url('./trans1.jpg');
}
.translation3{
  background-image: url('./trans3.jpg');
}
.translation4{
  background-image: url('./trans4.jpg');
}
.translation5{
  background-image: url('./trans5.jpg');
}
.zeroMargin{
  margin: 0 !important;
}
.zeroPadding{
  padding: 0 !important;
}
