.startup{
  background-position: center;
  background-size: cover;
  height: 50vh;
}
.startupHeader{
  background-attachment: fixed;
}
.startup p{
  font-size: 1.5rem;
  padding: 120px;
}
.startUpText{
  color:#fff;
  font-size: 3rem;
  /*background-color: rgba(0,0,0,0.3);*/
}
.statNum{
  color:#fff;
  font-size: 3rem;
}
.statistics{
  color:#fff;
  padding-top: 10px;
  font-size: 1.5rem;
}
.startup1{
  background-image: url('../Home/home5.jpg');
}
.startup2{
  background-image: url('./startup1.jpg');
}
.startup3{
  background-image: url('./startup2.jpg');
}
.startup4{
  background-image: url('./startup3.jpg');
}
.startup5{
  background-image: url('../Home/home2.jpg');
}
.second{
  background-color: firebrick;
  color: #fff;
}
.zeroMargin{
  margin: 0px !important;
}
.zeroPadding{
  padding: 0px !important;
}
