.engineering p{
  height: 30vh;
  padding: 120px;
  font-size: 1.5rem;
}
.galleryText{
  color:#fff;
  font-size: 3rem;
}
.process{
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 60vh;
}
.processText{
  color:#fff;
  font-size: 3rem;
  /*background-color: rgba(0,0,0,0.3);*/
}
.statNum{
  color:#fff;
  font-size: 3rem;
}
.statistics{
  color:#fff;
  padding-top: 10px;
  font-size: 1.5rem;
}
.startups{
  height: 50vh;
  background-position: center;
  background-size: cover;
}
.startups p{
  font-size: 1.5rem;
  padding: 120px;
}
.second{
  background-color: firebrick;
  color: #fff;
}
.zeroMargin{
  margin: 0px !important;
}
.zeroPadding{
  padding: 0px !important;
}
