.home{
  color: #fff;
}
.homePic{
  background-position: center;
  background-size: cover;
  /*background-attachment: fixed;*/
  height: 60vh;
}
.headerRow{
  height: 0;
}
.headerColumn h1{
  font-size: 65px !important;
}
.offer{
  min-height: 40vh;
}
.offer p{
  font-size: 25px;
}
.pic1{
  background-image: url('./home7.jpg');
  height: 105vh;
}
.pic2{
  background-image: url('./services.jpg');
  background-position: center;
  background-size: cover;
}
.pic3{
  background-image: url('./students.jpg');
  background-position: center;
  background-size: cover;
}
.pic3 p{
  padding: 20% 0px;
  font-size: 30px;
}
.map{
  height: 50vh;
}
.map .row{
  padding: 0 !important;
}
