.bizConsultingPlain .column{
  min-height: 60vh;
  background-position: center;
  background-size: cover;
  padding: 3% 0;
}
.bizConsulting1{
  background-image: url('./biz2.jpg');
  background-position: center;
  background-size: cover;
  min-height: 70vh;
}
.bizConsulting2{
  background-image: url('./biz1.jpg');
}
.bizConsulting3{
  background-image: url('./social.jpg');
}
.bizConsulting4{
  background-image: url('./strategy.jpg');
}
.zeroMargin{
  margin: 0 !important;
}
.zeroPadding{
  padding: 0 !important;
}
