.bizConsultingPlain .column{
  min-height: 50vh;
  background-position: center;
  background-size: cover;
}
.bizConsultingHeader{
  min-height: 50vh;
}
.bizConsulting1{
  background-image: url('../Home/home5.jpg');
}
.bizConsulting2{
  background-image: url('./biz1.jpg');
}
/*.bizConsulting3{*/
  /*background-image: url('./startup2.jpg');*/
/*}*/
/*.bizConsulting4{*/
  /*background-image: url('./startup3.jpg');*/
/*}*/
.zeroMargin{
  margin: 0 !important;
}
.zeroPadding{
  padding: 0 !important;
}
